---
import { Image } from 'astro:assets';
import aex1 from '../assets/aex-1.png'
import aex2 from '../assets/aex-2.jpg'
import aex3 from '../assets/aex-3.jpg'


import expo1 from '../assets/expo-1.png'
import expo2 from '../assets/expo-2.png'
import expo3 from '../assets/expo-3.jpg'

import lha1 from '../assets/lha-1.png'
import lha2 from '../assets/lha-2.jpg'



import tivec1 from '../assets/tivec-1.png'
import tivec2 from '../assets/tivec-2.jpg'
import tivec3 from '../assets/tivec-3.png'

import ter1 from '../assets/ter-1.png'
import ter2 from '../assets/ter-2.png'

import col1 from '../assets/col-1.png'
import col2 from '../assets/col-2.png'
import col3 from '../assets/col-3.png'

import mem1 from '../assets/mem-1.png'
import mem2 from '../assets/mem-2.png'
import mem3 from '../assets/mem-3.png'


---
<article id="projects"class="snap-center flex flex-col md:flex-row text-white py-3">
    <div class="p-5  w-full  flex flex-col justify-center">
        <div class="flex flex-col lg:flex-row items-center ">
            <div class="w-full  lg:w-1/2">
                <h1 class="text-4xl lg:text-6xl text-white font-bold font-space uppercase" >
                    projects
                </h1>
                <div class="w-full h-1 border-double border-4 border-ha2 my-4" >
                </div>
            </div>
    
            <div class="w-full lg:w-1/2 " >
            </div>
        </div>
        <div class="flex flex-row flex-wrap ">
            <div class="w-full md:w-1/2 lg:w-1/3 xl:w/14">
                <div class="w-full h-72 flex justify-center items-center">
                    <Image class="absolute rounded-xl shadow-lg  drop-shadow-xl w-56 -rotate-2 -translate-x-10 hover:scale-110 transition duration-300 delay-150 hover:delay-100 hover:z-10" src={aex3} alt="dsa"/>
                    <Image class="absolute rounded-xl shadow-lg  drop-shadow-xl w-56 rotate-2 translate-x-10 hover:scale-110 transition duration-300 delay-150 hover:delay-100 hover:z-10" src={aex2} alt="dsa"/>
                    <Image class="absolute rounded-xl shadow-lg drop-shadow-xl w-32 h-20 " src={aex1} alt="dsa"/>
                </div>
                <div class="text-center px-5">
                    <h1 class="text-2xl xl:text-3xl text-white font-bold font-space">
                        AEX (Portal / Web) <br> 2019
                    </h1>
                    <h1 class="text-xl text-ha3 font-space">
                        Platform to Exchange money from Colombia to Venezuela.
                    </h1>                    
                </div>
            </div>

            <div class="w-full md:w-1/2 lg:w-1/3 xl:w/14">
                <div class="w-full h-72 flex justify-center items-center">
                    <Image class="absolute rounded-xl shadow-lg  drop-shadow-xl w-56 -rotate-2 -translate-x-10 hover:scale-110 transition duration-300 delay-150 hover:delay-100 hover:z-10" src={expo3} alt="dsa"/>
                    <Image class="absolute rounded-xl shadow-lg  drop-shadow-xl w-16 rotate-2 translate-x-12 hover:scale-110 transition duration-300 delay-150 hover:delay-100 hover:z-10" src={expo2} alt="dsa"/>
                    <Image class="absolute rounded-xl shadow-lg drop-shadow-xl w-20 h-20 " src={expo1} alt="dsa"/>
                </div>
                <div class="text-center">
                    <h1 class="text-2xl xl:text-3xl text-white font-bold font-space">
                        ExpoBosques (App / Web) <br> 2020
                    </h1>
                    <h1 class="text-xl text-ha3 font-space">
                        A platform that promotes the exchange of experiences for sustainable forest management in the Colombian Amazon.</h1>                    
                </div>
            </div>


            <div class="w-full md:w-1/2 lg:w-1/3 xl:w/14">
                <div class="w-full h-72 flex justify-center items-center">
                    <Image class="absolute rounded-xl shadow-lg  drop-shadow-xl w-56 -rotate-2 -translate-x-10 hover:scale-110 transition duration-300 delay-150 hover:delay-100 hover:z-10" src={lha2} alt="dsa"/>
                    <Image class="absolute rounded-xl shadow-lg drop-shadow-xl w-20 h-12 " src={lha1} alt="dsa"/>
                </div>
                <div class="text-center">
                    <h1 class="text-2xl xl:text-3xl text-white font-bold font-space">
                        LhaChile (Web) <br> 2020
                    </h1>
                    <h1 class="text-xl text-ha3 font-space">
                        Custom-made platform for the sale of inputs for the prevention and treatment of diseases in animals.
                </div>
            </div>

            <div class="w-full md:w-1/2 lg:w-1/3 xl:w/14">
                <div class="w-full h-72 flex justify-center items-center">
                    <Image class="absolute rounded-xl shadow-lg  drop-shadow-xl w-56 -rotate-2 -translate-x-10 hover:scale-110 transition duration-300 delay-150 hover:delay-100 hover:z-10" src={tivec2} alt="dsa"/>
                    <Image class="absolute rounded-xl shadow-lg  drop-shadow-xl w-16 rotate-2 translate-x-12 hover:scale-110 transition duration-300 delay-150 hover:delay-100 hover:z-10" src={tivec3} alt="dsa"/>
                    <Image class="absolute rounded-xl shadow-lg drop-shadow-xl w-20 h-20 " src={tivec1} alt="dsa"/>
                </div>
                <div class="text-center">
                    <h1 class="text-2xl xl:text-3xl text-white font-bold font-space">
                        Tivec (App) <br> 2021
                    </h1>
                    <h1 class="text-xl text-ha3 font-space">
                        Innovative online store application for CCV affiliates where you can publish and sell your items.</h1>                    
                </div>
            </div>


            <div class="w-full md:w-1/2 lg:w-1/3 xl:w/14">
                <div class="w-full h-72 flex justify-center items-center">
                    <Image class="absolute rounded-xl shadow-lg  drop-shadow-xl w-56 -rotate-2 -translate-x-10 hover:scale-110 transition duration-300 delay-150 hover:delay-100 hover:z-10" src={ter2} alt="dsa"/>
                    <Image class="absolute rounded-xl shadow-lg drop-shadow-xl w-20 h-20 " src={ter1} alt="dsa"/>

                </div>
                <div class="text-center">
                    <h1 class="text-2xl xl:text-3xl text-white font-bold font-space">
                        Terceros (Embebed Web) <br> 2022
                    </h1>
                    <h1 class="text-xl text-ha3 font-space">
                        Solution to attend and manage the after-sales services of the installations.
                </div>
            </div>


            <div class="w-full md:w-1/2 lg:w-1/3 xl:w/14">
                <div class="w-full h-72 flex justify-center items-center">
                    <Image class="absolute rounded-xl shadow-lg  drop-shadow-xl w-40 -rotate-2 -translate-x-10 hover:scale-110 transition duration-300 delay-150 hover:delay-100 hover:z-10" src={col2} alt="dsa"/>
                    <Image class="absolute rounded-xl shadow-lg  drop-shadow-xl w-16 rotate-2 translate-x-12 hover:scale-110 transition duration-300 delay-150 hover:delay-100 hover:z-10" src={col3} alt="dsa"/>
                    <Image class="absolute rounded-xl shadow-lg drop-shadow-xl w-20 h-20 " src={col1} alt="dsa"/>
                </div>
                <div class="text-center">
                    <h1 class="text-2xl xl:text-3xl text-white font-bold font-space">
                        Colsanitas (Embebed App) <br> 2023
                    </h1>
                    <h1 class="text-xl text-ha3 font-space">
                        Manage healthcare services quickly and securely
                </div>
            </div>
            
            <div class="w-full md:w-1/2 lg:w-1/3 xl:w/14">
                <div class="w-full h-72 flex justify-center items-center">
                    <Image class="absolute rounded-xl shadow-lg  drop-shadow-xl w-40 -rotate-2 -translate-x-10 hover:scale-110 transition duration-300 delay-150 hover:delay-100 hover:z-10" src={mem2} alt="dsa"/>
                    <Image class="absolute rounded-xl shadow-lg  drop-shadow-xl w-16 rotate-2 translate-x-12 hover:scale-110 transition duration-300 delay-150 hover:delay-100 hover:z-10" src={mem3} alt="dsa"/>
                    <Image class="absolute rounded-xl shadow-lg drop-shadow-xl w-20 h-20 " src={mem1} alt="dsa"/>
                </div>
                <div class="text-center">
                    <h1 class="text-2xl xl:text-3xl text-white font-bold font-space">
                        Membeer (App) <br> 2024
                    </h1>
                    <h1 class="text-xl text-ha3 font-space">
                        Complete missions, earn compensation
                </div>
            </div>

        </div>
    </div>
</article>